Repository UMEP-dev/umep-rust: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: upgrade-linters
        name: upgrade ruff & ty to latest
        entry: uv lock --upgrade-package ruff --upgrade-package ty
        language: system
        always_run: true
        pass_filenames: false

      - id: ruff-check
        name: ruff check
        entry: uv run ruff check --fix
        language: system
        types_or: [python, jupyter]

      - id: ruff-format
        name: ruff format
        entry: uv run ruff format
        language: system
        types_or: [python, jupyter]

      - id: ty
        name: ty type check
        entry: uv run ty check pysrc/ tests/ demos/ scripts/ qgis_plugin/
        language: system
        types: [python]
        pass_filenames: false

chore: bump to beta51 and fix pages deploy artifact duplication
  .github/workflows/docs.yml
  pyproject.toml
  qgis_plugin/solweig_qgis/metadata.txt
  uv.lock
Due: none

feat: unify SurfaceData.prepare() for arrays and file paths
  docs/PARAMS_MIGRATION.md
  docs/development/roadmap.md
  docs/getting-started/quick-start.md
  docs/guide/basic-usage.md
  docs/guide/timeseries.md
  docs/index.md
  mkdocs.yml
  pyproject.toml
  pysrc/solweig/models/surface.py
  qgis_plugin/solweig_qgis/metadata.txt
  tests/test_api.py
  uv.lock
Due: ruff-check, ruff-format, ty

refactor: remove timestep_outputs, make output_dir required
  README.md
  demos/athens-demo.py
  docs/getting-started/quick-start.md
  docs/guide/basic-usage.md
  docs/guide/thermal-comfort.md
  docs/guide/timeseries.md
  docs/tutorials/01-athens-quickstart.ipynb
  docs/tutorials/03-thermal-comfort.ipynb
  pysrc/solweig/api.py
  pysrc/solweig/models/config.py
  pysrc/solweig/summary.py
  pysrc/solweig/tiling.py
  pysrc/solweig/timeseries.py
  scripts/profile_memory.py
  specs/runtime-contract.md
  tests/benchmarks/test_memory_benchmark.py
  tests/benchmarks/test_performance_matrix_benchmark.py
  tests/benchmarks/test_tiling_benchmark.py
  tests/conftest.py
  tests/spec/test_aniso_gpu_parity.py
  tests/spec/test_anisotropic_pipeline.py
  tests/test_api.py
  tests/test_docs_consistency.py
  tests/test_tiling_integration.py
  tests/test_timeseries.py
  tests/test_wall_material.py
  tests/validation/test_validation_kolumbus.py
  tests/validation/test_validation_montpellier.py
Due: ruff-check, ruff-format, ty

chore: bump to beta53, simplify docstrings and docs
  docs/guide/geotiffs.md
  docs/index.md
  pyproject.toml
  pysrc/solweig/components/svf_resolution.py
  pysrc/solweig/models/precomputed.py
  pysrc/solweig/models/surface.py
  qgis_plugin/solweig_qgis/metadata.txt
  uv.lock
Due: ruff-check, ruff-format, ty

docs
  docs/guide/qgis-plugin.md
  docs/index.md
  docs/tutorials/01-athens-quickstart.ipynb
  docs/tutorials/02-timeseries-analysis.ipynb
  docs/tutorials/03-thermal-comfort.ipynb
Due: ruff-check, ruff-format

chore: bump to beta54, fix CI and docs consistency
  .github/workflows/test.yml
  ROADMAP.md
  docs/api/functions.md
  docs/api/index.md
  docs/guide/basic-usage.md
  docs/index.md
  docs/tutorials/03-thermal-comfort.ipynb
  pyproject.toml
  pysrc/solweig/__init__.py
  pysrc/solweig/api.py
  qgis_plugin/solweig_qgis/metadata.txt
  uv.lock
Due: ruff-check, ruff-format, ty

remove broken links
  docs/getting-started/quick-start.md
  docs/tutorials/01-athens-quickstart.ipynb
  docs/tutorials/02-timeseries-analysis.ipynb
  docs/tutorials/03-thermal-comfort.ipynb
Due: ruff-check, ruff-format

docs
  docs/PARAMS_MIGRATION.md
  docs/PARAMS_SIMPLE.md
  docs/RUN_METADATA.md
  docs/SOLWEIG_VALIDATION_RESEARCH.md
  docs/api/errors.md
  docs/api/index.md
  docs/development/architecture.md
  docs/development/contributing.md
  docs/development/gpu-execution-plan.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
  docs/guide/basic-usage.md
  docs/guide/geotiffs.md
  docs/guide/qgis-plugin.md
  docs/guide/thermal-comfort.md
  docs/guide/timeseries.md
  docs/index.md
  mkdocs.yml
Due: none

chore: split test dependencies into separate dependency group
  pyproject.toml
  uv.lock
Due: none

Fixes CI test dependencies
  .github/workflows/test.yml
Due: none

~
  pyproject.toml
Due: none

fix: remove unconditional affine import for QGIS/GDAL-only environments
  pysrc/solweig/models/surface.py
  pysrc/solweig/utils.py
Due: ruff-check, ruff-format, ty

fix: skip golden GVF tests when scipy is not installed
  tests/golden/test_golden_gvf.py
Due: ruff-check, ruff-format, ty

fix: skip rasterio backend test when rasterio is not installed
  tests/test_io.py
Due: ruff-check, ruff-format, ty

chore: clean up dependency groups, remove duplication
  .github/workflows/test.yml
  pyproject.toml
  uv.lock
Due: none

fix: skip pandas test when pandas is not installed
  tests/test_io.py
Due: ruff-check, ruff-format, ty

fix: nighttime Ldown, GPU SVF precision, SVF fallback; add Kronenhuset validation (0.1.0b56)
  .gitignore
  pyproject.toml
  pysrc/solweig/models/surface.py
  pysrc/solweig/models/weather.py
  pysrc/solweig/timeseries.py
  qgis_plugin/solweig_qgis/metadata.txt
  rust/src/gpu/shadow_gpu.rs
  rust/src/gpu/shadow_propagation.wgsl
  rust/src/pipeline.rs
  tests/golden/README.md
  tests/golden/REPORT.md
  tests/validation/kronenhuset/REPORT.md
  tests/validation/kronenhuset/measurements_kr.csv
  tests/validation/test_validation_kronenhuset.py
  uv.lock
Due: ruff-check, ruff-format, ty

docs: update Kronenhuset report — remove UMEP columns, add Ldown decomposition
  tests/validation/kronenhuset/REPORT.md
Due: none

docs: simplify report discussions, fix table formatting
  tests/golden/REPORT.md
  tests/validation/kronenhuset/REPORT.md
Due: none

refactor: consolidate Kronenhuset validation data, add citation
  demos/data/Goteborg_SWEREF99_1200/CITATION.md
  tests/validation/kronenhuset/MetFile_Prepared.txt
  tests/validation/kronenhuset/parametersforsolweig_KR.json
  tests/validation/test_validation_kronenhuset.py
Due: ruff-check, ruff-format, ty

Validation
  tests/validation/kronenhuset/REPORT.md
Due: none

fix: move optional deps to core so `pip install solweig` works out of the box (0.1.0b57)
  .github/workflows/test.yml
  README.md
  pyproject.toml
  qgis_plugin/solweig_qgis/metadata.txt
  uv.lock
Due: none

feat: add Gustav Adolfs torg and GVC validation test suites
  .pre-commit-config.yaml
  tests/validation/gustav_adolfs/CDSM_GA.tif
  tests/validation/gustav_adolfs/DEM_GA.tif
  tests/validation/gustav_adolfs/DSM_GA.tif
  tests/validation/gustav_adolfs/LC_GA.tif
  tests/validation/gustav_adolfs/MetFile_20051011.txt
  tests/validation/gustav_adolfs/MetFile_20060726.txt
  tests/validation/gustav_adolfs/MetFile_20060801.txt
  tests/validation/gustav_adolfs/measurements_ga.csv
  tests/validation/gustav_adolfs/parametersforsolweig_GA.json
  tests/validation/gustav_adolfs/wall_aspect_GA.tif
  tests/validation/gustav_adolfs/wall_height_GA.tif
  tests/validation/gvc/CDSM_GVC_1m.tif
  tests/validation/gvc/DEM_GVC_1m.tif
  tests/validation/gvc/DSM_GVC_1m.tif
  tests/validation/gvc/MetFile20100707_Prepared.txt
  tests/validation/gvc/MetFile20100710_Prepared.txt
  tests/validation/gvc/MetFile20100712_Prepared.txt
  tests/validation/gvc/landcover_1m_GVC.tif
  tests/validation/gvc/measurements_gvc.csv
  tests/validation/gvc/parametersforsolweig_GVC.json
  tests/validation/gvc/wall_aspect_GVC_1m.tif
  tests/validation/gvc/wall_height_GVC_1m.tif
  tests/validation/test_validation_gustav_adolfs.py
  tests/validation/test_validation_gvc.py
  uv.lock
Due: ruff-check, ruff-format, ty

docs: add validation report and README summary table
  README.md
  docs/physics/validation.md
  mkdocs.yml
Due: none

docs: move validation report from mkdocs site to repo root
  README.md
  VALIDATION.md
  mkdocs.yml
Due: none

fix: update validation POIs for Kronenhuset and GVC
  README.md
  VALIDATION.md
  tests/validation/gvc/poi_sweep_results/poi_sweep_bias.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_bias.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_r2.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/test_poi_sweep_all_sites.py
  tests/validation/test_validation_gvc.py
  tests/validation/test_validation_kronenhuset.py
Due: ruff-check, ruff-format, ty

fix: use QgsBlockingNetworkRequest for PVGIS EPW download
  qgis_plugin/solweig_qgis/algorithms/utilities/epw_import.py
Due: ruff-check, ruff-format, ty

feat: GPU GVF compute shader for cached thermal accumulation (0.1.0b60)
  VALIDATION.md
  pyproject.toml
  qgis_plugin/solweig_qgis/metadata.txt
  rust/src/gpu/gvf_cached.wgsl
  rust/src/gpu/gvf_gpu.rs
  rust/src/gpu/mod.rs
  rust/src/gvf.rs
  rust/src/lib.rs
  rust/src/pipeline.rs
Due: none

fix: 6 bug fixes for prepare order, tiling walls, single-Weather API, materials config, LC overrides, EPW timestamps (0.1.0b61)
  VALIDATION.md
  pyproject.toml
  pysrc/solweig/api.py
  pysrc/solweig/models/config.py
  pysrc/solweig/models/surface.py
  pysrc/solweig/tiling.py
  qgis_plugin/solweig_qgis/metadata.txt
  qgis_plugin/solweig_qgis/utils/converters.py
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_bias.png
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_bias.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_bias.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_r2.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/test_validation_gustav_adolfs.py
  tests/validation/test_validation_gvc.py
  tests/validation/test_validation_kronenhuset.py
  uv.lock
Due: ruff-check, ruff-format, ty

fix: 35 code review fixes — bugs, dead code, performance, and quality
  TODO.md
  VALIDATION.md
  pysrc/solweig/api.py
  pysrc/solweig/buffers.py
  pysrc/solweig/components/ground.py
  pysrc/solweig/components/gvf.py
  pysrc/solweig/components/svf_resolution.py
  pysrc/solweig/computation.py
  pysrc/solweig/constants.py
  pysrc/solweig/io.py
  pysrc/solweig/loaders.py
  pysrc/solweig/metadata.py
  pysrc/solweig/models/config.py
  pysrc/solweig/models/results.py
  pysrc/solweig/models/surface.py
  pysrc/solweig/models/weather.py
  pysrc/solweig/physics/clearnessindex_2013b.py
  pysrc/solweig/physics/cylindric_wedge.py
  pysrc/solweig/physics/wallalgorithms.py
  pysrc/solweig/tiling.py
  pysrc/solweig/utils.py
  pysrc/solweig/walls.py
  tests/test_orchestration.py
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_bias.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_r2.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/test_poi_sweep_all_sites.py
  tests/validation/test_validation_kronenhuset.py
Due: ruff-check, ruff-format, ty

fix: 14 more code review fixes — performance, architecture, tests, Rust (0.1.0b62)
  TODO.md
  VALIDATION.md
  pysrc/solweig/_compat.py
  pysrc/solweig/_orchestration.py
  pysrc/solweig/components/ground.py
  pysrc/solweig/components/gvf.py
  pysrc/solweig/computation.py
  pysrc/solweig/io.py
  pysrc/solweig/models/precomputed.py
  pysrc/solweig/models/surface.py
  pysrc/solweig/models/weather.py
  pysrc/solweig/physics/patch_radiation.py
  pysrc/solweig/progress.py
  pysrc/solweig/summary.py
  pysrc/solweig/tiling.py
  pysrc/solweig/timeseries.py
  rust/src/gpu/aniso_gpu.rs
  rust/src/gpu/gvf_gpu.rs
  rust/src/pet.rs
  tests/spec/test_ground_properties.py
  tests/spec/test_gvf_properties.py
  tests/spec/test_pet.py
  tests/spec/test_svf.py
  tests/spec/test_utci.py
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_bias.png
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gustav_adolfs/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_bias.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_r2.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_rmse.png
Due: ruff-check, ruff-format, ty

chore: tighten shadow tolerance to ±2px, remove completed TODO.md
  TODO.md
  pyproject.toml
  qgis_plugin/solweig_qgis/metadata.txt
  tests/spec/test_shadows.py
  uv.lock
Due: ruff-check, ruff-format, ty

fix: consistent GDAL/rasterio backend separation for CRS ops (0.1.0b63)
  pyproject.toml
  pysrc/solweig/models/surface.py
  pysrc/solweig/models/weather.py
  qgis_plugin/solweig_qgis/metadata.txt
  tests/test_io.py
  uv.lock
Due: ruff-check, ruff-format, ty

fix: _compat.py reload-safe backend detection (0.1.0b64)
  pyproject.toml
  pysrc/solweig/_compat.py
  qgis_plugin/solweig_qgis/metadata.txt
  uv.lock
Due: ruff-check, ruff-format, ty

fix: backend test accesses lazy attrs before restoring QGIS mocks (0.1.0b65)
  pyproject.toml
  qgis_plugin/solweig_qgis/metadata.txt
  tests/test_io.py
  uv.lock
Due: ruff-check, ruff-format, ty

feat: use original measurement station POIs from shapefiles (0.1.0b66)
  VALIDATION.md
  tests/conftest.py
  tests/validation/gustav_adolfs/poi.geojson
  tests/validation/gvc/poi.geojson
  tests/validation/gvc/poi_sweep_results/poi_sweep_bias.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_r2.png
  tests/validation/gvc/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/kronenhuset/CDSM_KR.asc
  tests/validation/kronenhuset/DEM_KR.tif
  tests/validation/kronenhuset/DSM_KR.tif
  tests/validation/kronenhuset/REPORT.md
  tests/validation/kronenhuset/landcover_KR.tif
  tests/validation/kronenhuset/poi.geojson
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_r2.png
  tests/validation/kronenhuset/poi_sweep_results/poi_sweep_rmse.png
  tests/validation/test_poi_sweep_all_sites.py
  tests/validation/test_validation_gustav_adolfs.py
  tests/validation/test_validation_gvc.py
  tests/validation/test_validation_kronenhuset.py
Due: ruff-check, ruff-format, ty

docs: clarify POI sweep semantics and neutralise language in VALIDATION.md
  VALIDATION.md
Due: none
